*{
	box-sizing: border-box;

}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: lavender;
}

.main p{
	background: yellow;
	padding: 5px;
	text-align: center;
	font-size: 22px;
}